* {
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  overflow: hidden;
  margin: 0;

  background: black;
  color: white;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

$cellWidth: calc(100vw / var(--w) - 2px);
$cellHeight: calc((100vh - 2rem) / var(--h) - 2px);
$optionsHeight: 2rem;

#options {
  position: absolute;
  z-index: 1;

  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  grid-row-gap: 0.5em;

  width: 100vw;
  padding: 0.5em 0.5em $optionsHeight + 1rem;
  background-color: #232323;

  transform: translateY(calc(-100% + #{$optionsHeight}));
  transition: transform 0.2s;
  &.open {
    transform: translateY(0);
  }

  button {
    margin: 0.1em;
    padding: 1em;
    border: none;

    background: #333;
    color: white;

    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background: #404040;
    }

    &:disabled {
      background: #303030;
      color: #aaa;
      cursor: not-allowed;
    }
  }

  label {
    grid-column: 1 / 2;
    padding-left: 1ch;
    text-align: right;
  }

  input {
    grid-column: 2 / 3;
    width: auto;
  }

  output {
    grid-column: 3 / 4;
    padding-right: 1ch;
  }

  #buttons {
    grid-column: 1 / 4;
    display: flex;

    #start {
      flex-grow: 1;
    }
  }

  #tab {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100vw;
    height: $optionsHeight;
    padding: $optionsHeight / 4;

    background: #111;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    cursor: pointer;

    img {
      flex-grow: 1;
      transition: transform 0.5s;
    }
  }

  &.open #tab img {
    transform: rotate(0.5turn);
  }
}

#game {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(var(--w), 1fr);
  grid-template-rows: repeat(var(--h), 1fr);

  top: $optionsHeight;
  width: 100vw;
  height: calc(100vh - #{$optionsHeight});

  border-top: 1px solid var(--player);
  border-left: 1px solid var(--player);

  --player: red;

  & > div {
    border-bottom: 1px solid var(--player);
    border-right: 1px solid var(--player);

    @keyframes rotate {
      to {
        transform: rotate(1turn);
      }
    }

    @keyframes shake {
      @for $i from 0 through 50 {
        #{$i / 50 * 100%} {
          transform: translate(#{random() * 2px - 1px}, #{random() * 2px - 1px})
            rotate(#{$i / 50 * 1turn});
        }
      }
    }

    svg {
      pointer-events: none;
      display: block;
      position: absolute;
      width: $cellWidth;
      height: $cellHeight;

      animation: rotate 5s linear infinite;

      * {
        fill: var(--c);
      }
    }

    &.shake svg {
      animation: shake 5s linear infinite;
    }

    div {
      position: absolute;
      width: $cellWidth;
      height: $cellHeight;

      $anims: "left" "X" -100%, "right" "X" 100%, "up" "Y" -100%,
        "down" "Y" 100%;
      @each $a in $anims {
        @keyframes #{nth($a, 1)} {
          to {
            transform: #{"translate" + nth($a, 2) + "(" + nth($a, 3) + ")"};
          }
        }
        &.#{nth($a, 1)} {
          animation: #{nth($a, 1)} 0.3s;
        }
      }
    }
  }
}
